.dashboard_container {
  display: flex;
  height: 480px;
  width: 100%;
  margin-top: 1rem;
  overflow: auto;

  > section {
    height: 100%;
  }
}

.chart_container {
  width: 200px;
  margin: 2rem auto;
}
