@import 'shared/styles/custom.scss';

.topbar {
  height: $topbar-height;

  > section {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
    height: $topbar-height;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 2rem;
    background-color: white;
    border-bottom: 1px solid lightgray;

    @media (min-width: 1200px) {
      padding: 0 3rem;
    }
  }
}

.search_box {
  position: relative;
  width: 320px;

  > span {
    position: absolute;
    line-height: 34px;
    padding: 0 12px;
  }

  > input {
    padding-left: 44px;
    background-color: $bg-gray;
  }
}

.search_result {
  max-height: 300px;
  overflow: auto;
}
