@import 'shared/styles/custom.scss';

.container {
  min-width: calc(1200px - #{$sidebar-width});
  min-height: calc(100vh - #{$topbar-height});
  padding: 1.5rem;
  background-color: $bg-gray;

  @media (min-width: 1200px) {
    margin-left: $sidebar-width;
  }
}
