$primary: #727cf5;
$secondary: #6c757d;
$dark: #454b51;
$light: #f8f9fa;
$success: #0acf97;
$info: #39afd1;
$warning: #ffbc00;
$danger: #fa5c7c;

$success-light: #0acf9740;
$warning-light: #ffbc0040;
$danger-light: #fa5c7c40;
$bg-gray: #fafbfe;
$bg-sidebar: #313a46;

$sidebar-width: 260px;
$topbar-height: 64px;

$h4-font-size: 1.25rem;
$h5-font-size: 1rem;
$h6-font-size: 14px;

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer * 0.75,
  4: $spacer * 1,
  5: $spacer * 1.5,
  6: $spacer * 2,
  7: $spacer * 2.5,
  8: $spacer * 3,
);

$table-cell-padding-y: 1rem;
$table-cell-padding-x: 1rem;
$table-border-color: #e9e9e9;

$badge-font-size: 11px;
$badge-font-weight: 500;
$badge-color: white;
$badge-padding-y: 3px;
$badge-padding-x: 5px;
$badge-border-radius: 6px;
