body {
  color: $dark;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
}

small {
  display: block;
}

.form-select {
  font-size: 14px;
}

.form-error {
  border-color: #dc3545;
}

.form-error:focus {
  border-color: #dc3545;
  box-shadow: none;
}

.text-sm {
  font-size: 14px;
}

.text-xs {
  font-size: 13px;
}

.table > :not(:first-child) {
  border-top: 2px solid $table-border-color;
}

.btn-icon {
  color: gray;
  cursor: pointer;
  &:hover {
    color: darkslategray;
  }
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.pointer {
  cursor: pointer;
}

.not-allowed {
  cursor: not-allowed;
}

.shadow-xs {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.07);
}

.dropdown-toggle::after {
  display: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border: 2px solid white;
  border-radius: 5px;
  background-color: lightgray;
}
