@import 'shared/styles/custom.scss';

.container {
  position: fixed;
  z-index: 500;
  top: 0;
  bottom: 0;
  left: 0;
  width: $sidebar-width;
  padding-left: 30px;
  padding-right: 30px;
  background-color: $bg-sidebar;

  @media (max-width: 1200px) {
    display: none;
  }
}

.logo {
  display: block;
  line-height: 70px;
  margin-bottom: 0.5rem;
  > img {
    height: 2rem;
  }
}

.nav_item {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 500;
  color: #8391a2;

  > svg {
    width: 18px;
  }

  > span {
    margin-left: 1rem;
  }

  &:hover {
    color: white;
  }
}
