@import 'shared/styles/custom.scss';

.summary_table {
  border-color: #d3d3d342;

  b {
    font-size: 14px;
    font-weight: 500;
    color: $dark;
  }

  div {
    font-size: 14px;
    color: $dark;
  }

  small {
    font-size: 13px;
    white-space: nowrap;
  }
}
