@import 'shared/styles/custom.scss';

.task_row {
  b {
    font-size: 14px;
    font-weight: 500;
    color: #343a40df;
  }

  div {
    font-size: 14px;
    color: $dark;
  }

  small {
    font-size: 13px;
    white-space: nowrap;
  }
}
