@import 'shared/styles/custom.scss';

.summary {
  display: flex;
  color: $secondary;
  background-color: white;

  > a {
    display: block;
    flex: 0.25;
    padding: 20px;
    text-align: center;
    border-right: 1px solid lightgray;
  }

  :last-child {
    border: none;
  }
}

.summary_table {
  border-color: #d3d3d342;

  b {
    font-size: 14px;
    font-weight: 500;
    color: $dark;
  }

  div {
    font-size: 14px;
    color: $dark;
  }

  small {
    font-size: 13px;
    white-space: nowrap;
  }
}
