@import 'shared/styles/custom.scss';

.label_warning {
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  padding: 0 6px;
  border-radius: 4px;
  white-space: nowrap;
  color: $warning;
  background-color: $warning-light;
}

.label_success {
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  padding: 0 6px;
  border-radius: 4px;
  white-space: nowrap;
  color: $success;
  background-color: $success-light;
}

.label_danger {
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  padding: 0 6px;
  border-radius: 4px;
  white-space: nowrap;
  color: $danger;
  background-color: $danger-light;
}
